@using GD.Models.Commons

@model IEnumerable<Order>

<div id="contentPanelOrders" style="max-height: 594px; overflow: hidden; outline: none; border-radius: 4px; border-top-left-radius: 0;">
	<div class="dropdown" style="z-index: 3; height: 41px; color: white;position: absolute;right: 41px;top: 145px;">
		<button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: inline-block; padding: 6px 17px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; background-color: transparent; height: 100%;">
			RESUMEN
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right leyenda" aria-labelledby="dropdownMenu1">
			<li>
				<a>
					<span class="zh-estimate-badge" style="margin-bottom: -3px; background-color: red;">
					</span>
					Nuevas <b>@(Model.Count(c => c.IdOrderStatus == (int)OrderStatus.Type.Nuevo).ToString().PadLeft(2, '0'))</b>
				</a>
			</li>
			<li>
				<a>
					<span class="zh-estimate-badge" style="margin-bottom: -3px; background-color: yellow;">
					</span>
					Pre-Factibilidad <b>@(Model.Count(c => c.IdOrderStatus == (int)OrderStatus.Type.Prefactibilidad).ToString().PadLeft(2, '0'))</b>
				</a>
			</li>
			<li>
				<a>
					<span class="zh-estimate-badge" style="margin-bottom: -3px; background-color: lightgreen;">
					</span>
					Inspección <b>@(Model.Count(c => c.IdOrderStatus == (int)OrderStatus.Type.Inspeccion).ToString().PadLeft(2, '0'))</b>
				</a>
			</li>
			<li>
				<a>
					<span class="zh-estimate-badge" style="margin-bottom: -3px; background-color: green;">
					</span>
					Instalación <b>@(Model.Count(c => c.IdOrderStatus == (int)OrderStatus.Type.Instalacion).ToString().PadLeft(2, '0'))</b>
				</a>
			</li>
			@*<li role="separator" class="divider"></li>
				<li><a>Separated link</a></li>*@
		</ul>
	</div>

	@{
		if ((Model != null) && (Model.Any()))
		{
			foreach (var order in Model)
			{
				<a href="#" class="list-group-item order" data-orderid="@order.Id" style="padding: 0; height: 55px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-left: none; border-right: none;" title="@order.Site.Client.LegalName.ToUpper() (@order.Site.Address)">
					<span style="position: absolute; left: 0; padding: 5px; padding-top: 2px; padding-left: 10px;"><small><b>N° @order.OrderNumber</b></small></span>
					<span style="position: absolute; right: 0; padding: 5px; padding-top: 2px;"><small>@(order.CreateAt.HasValue ? order.CreateAt.Value.ToLongDateString().ToUpper() : @"Fecha no disponible")</small></span>
					<span class="pull-left" style="border-left: 4px solid @(order.OrderStatus.Color); height: 100%; width: 100%; padding: 10px; padding-top: 25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@order.Site.Client.LegalName.ToUpper() - @order.Site.Name.ToUpper() <small style="color: #999999;">(@order.Site.Address)</small></span>
				</a>
			}
		}
		else
		{
			<span style="padding: 20px; display: table; margin-left: auto; margin-right: auto; color: #696969;">No hay ordenes disponibles</span>
		}
	}
</div>