@using System.Globalization
@using GD.Models.Commons;
@using GoldDataWeb.Models

@model HomeViewModel

@{
	var status = new StatusBarViewModel
	{
		Nuevo = new Data(),
		Prefactibility = new Data(),
		Instalation = new Data(),
		Inspection = new Data()
	};
	if (Model.Order != null)
	{
		foreach (var orderFlow in Model.Order.ListOrderFlow)
		{
			switch (orderFlow.IdOrderStatus)
			{
				case (int)OrderStatus.Type.Nuevo:
					status.Nuevo = new Data
					{
						IdOrderFlow = orderFlow.Id.ToString(),
						EstimatedDateNextStep = orderFlow.StimatedDateNextStep.Value.ToLongDateString(),
						Class = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"glyphicon-ok" : (orderFlow.Status.Id == (int)Status.Type.Inactivo) ? @"glyphicon-remove" : string.Empty,
						Color = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"limegreen" : @"crimson"
					};
					break;
				case (int)OrderStatus.Type.Prefactibilidad:
					status.Prefactibility = new Data
					{
						IdOrderFlow = orderFlow.Id.ToString(),
						EstimatedDateNextStep = (orderFlow.Status.Id == (int)Status.Type.Activo) ? orderFlow.StimatedDateNextStep.Value.ToLongDateString() : string.Empty,
						Class = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"glyphicon-ok" : (orderFlow.Status.Id == (int)Status.Type.Inactivo) ? @"glyphicon-remove" : string.Empty,
						Color = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"limegreen" : @"crimson"
					};
					break;
				case (int)OrderStatus.Type.Inspeccion:
					status.Inspection = new Data
					{
						IdOrderFlow = orderFlow.Id.ToString(),
						EstimatedDateNextStep = (orderFlow.Status.Id == (int)Status.Type.Activo) ? orderFlow.StimatedDateNextStep.Value.ToLongDateString() : string.Empty,
						Class = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"glyphicon-ok" : (orderFlow.Status.Id == (int)Status.Type.Inactivo) ? @"glyphicon-remove" : string.Empty,
						Color = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"limegreen" : @"crimson"
					};
					break;
				case (int)OrderStatus.Type.Instalacion:
					status.Instalation = new Data
					{
						IdOrderFlow = orderFlow.Id.ToString(),
						EstimatedDateNextStep = (orderFlow.Status.Id == (int)Status.Type.Activo) ? orderFlow.StimatedDateNextStep.Value.ToLongDateString() : string.Empty,
						Class = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"glyphicon-ok" : (orderFlow.Status.Id == (int)Status.Type.Inactivo) ? @"glyphicon-remove" : string.Empty,
						Color = (orderFlow.Status.Id == (int)Status.Type.Activo) ? @"limegreen" : @"crimson"
					};
					break;
			}
		}

		<div class="tab-pane active" id="info">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label id="orderIdLabel" class="Infolabel" style="font-weight: bold;" data-siteid="@Model.Order.Site.Id" data-orderstatustype="@Model.Order.OrderStatus.Id"
									   data-ordershotcount="@Model.Order.ListOrderShot.Count(c => c.IdOrderShotType == 1).ToString()" data-orderid="@Model.Order.Id.ToString()" data-ordernumber="@Model.Order.OrderNumber.ToUpper()">
									ORDEN Nº @Model.Order.OrderNumber.ToUpper()
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12">
							<div id="rootwizard" style="margin-bottom: 15px;">
								<ul>
									<li style="cursor: pointer; padding: 0;">
										<div data-toggle="popover" title="Pre-Factibilidad" data-content="@(!string.IsNullOrWhiteSpace(status.Nuevo.EstimatedDateNextStep) ? @"Fecha estimada de respuesta el " + status.Nuevo.EstimatedDateNextStep : @"Fecha estimada de respuesta no disponible.")" data-placement="top" style="padding: 12px 17px 10px 30px; font-size: 13px;">
											<a data-toggle="tab">
												<span class="label">
													<span id="statusPreFactibility" class="glyphicon @status.Prefactibility.Class" data-idorderflow="@status.Prefactibility.IdOrderFlow" aria-hidden="true" style="width: 11px; color: @status.Prefactibility.Color;"></span>
												</span> PRE-FACTIBILIDAD
											</a>
										</div>
									</li>
									<li style="cursor: pointer; padding: 0;">
										<div data-toggle="popover" title="Inspección" data-content="@(!string.IsNullOrWhiteSpace(status.Prefactibility.EstimatedDateNextStep) ? @"Fecha estimada de respuesta el " + status.Prefactibility.EstimatedDateNextStep : @"Fecha estimada de respuesta aun no disponible.")" data-placement="top" style="padding: 12px 17px 10px 30px; font-size: 13px;">
											<a data-toggle="tab">
												<span class="label">
													<span id="statusInspection" class="glyphicon @status.Inspection.Class" data-idorderflow="@status.Inspection.IdOrderFlow" aria-hidden="true" style="width: 11px; color: @status.Inspection.Color;"></span>
												</span> INSPECCIÓN
											</a>
										</div>
									</li>
									<li style="cursor: pointer; padding: 0;">
										<div data-toggle="popover" title="Instalación" data-content="@(!string.IsNullOrWhiteSpace(status.Inspection.EstimatedDateNextStep) ? @"Fecha estimada de respuesta el " + status.Inspection.EstimatedDateNextStep : @"Fecha estimada de respuesta aun no disponible.")" data-placement="top" style="padding: 12px 17px 10px 30px; font-size: 13px;">
											<a data-toggle="tab">
												<span class="label">
													<span id="statusInstalation" class="glyphicon @status.Instalation.Class" data-idorderflow="@status.Instalation.IdOrderFlow" aria-hidden="true" style="width: 11px; color: @status.Instalation.Color;"></span>
												</span> INSTALACIÓN
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h5 class="info-text" style="margin-bottom: 10px; font-weight: bold;"> Cordenadas de Localizacíon </h5>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<label class="Infolabel">Longitud <b>(@Model.Order.Site.Longitude)</b></label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<label class="Infolabel">Latitud <b>(@Model.Order.Site.Latitude)</b></label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h5 class="info-text" style="margin-bottom: 0; font-weight: bold;"> Detalles de la Ubicación </h5>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="Infolabel">@Model.Order.Site.Name</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
						<label class="Infolabel">@Model.Order.Site.Address</label><br>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h5 class="info-text" style="margin-bottom: 5px; font-weight: bold;"> Ancho de Banda </h5>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							@{
								if (!string.IsNullOrWhiteSpace(Model.Order.Site.BandWidth.ToString(CultureInfo.InvariantCulture)))
								{
									<div class="form-group">
										<label class="Infolabel">
											<span>@Model.Order.Site.BandWidth.ToString(CultureInfo.InvariantCulture)</span>
										</label><br>
									</div>
									@*<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;">
											<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">
												@Model.Order.Site.BandWidth.ToString(CultureInfo.InvariantCulture)
											</label>
										</div>*@
								}
								else
								{
									<div style="display: table; width: 100%;">
										<div style="display: table-row; width: 100%">
											<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">No posee ancho de banda asignado</label>
										</div>
									</div>
								}
							}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h5 class="info-text" style="margin-bottom: 5px; font-weight: bold;"> Tipos de Acceso </h5>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							@{
								if (Model.Order.Site.ListSiteAccessType.Any())
								{
									<div class="form-group">
										<label class="Infolabel">
											<span>@(AccessType.GetConcatAccessTypes(Model.Order.Site.ListSiteAccessType.ToList()))</span>
										</label><br>
									</div>
								}
								else
								{
									<div style="display: table; width: 100%; margin-bottom: 20px;">
										<div style="display: table-row; width: 100%">
											<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">Tipos de acceso no disponible.</label>
										</div>
									</div>
								}
							}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h5 class="info-text" style="margin-bottom: 0; font-weight: bold;"> Tipos de Servicio </h5>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									@{
										if (Model.Order.Site.ListServiceType.Any())
										{
											<div class="form-group" style="display: table; width: 100%; margin-bottom: 20px;">
												<label class="Infolabel" style="height: 60px; display: table-cell; vertical-align: bottom;">
													@(ServiceType.GetConcatServiceTypes(Model.Order.Site.ListServiceType.ToList()))
												</label>
											</div>
										}
										else
										{
											<div style="display: table; width: 100%; margin-bottom: 20px;">
												<div style="display: table-row; width: 100%">
													<label class="Infolabel" style="height: 60px; display: table-cell; vertical-align: bottom;">No posee ningun tipo de servicio asignado</label>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h5 class="info-text" style="margin-bottom: 0; font-weight: bold;"> Materiales </h5>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									@{
										if (Model.Order.ListMaterials.Any())
										{
											<div class="form-group" style="display: table; width: 100%; margin-bottom: 20px;">
												<label class="Infolabel" style="height: 60px; display: table-cell; vertical-align: bottom;">
													@(Material.GetConcatMaterials(Model.Order.ListMaterials.ToList()))
												</label>
											</div>
										}
										else
										{
											<div style="display: table; width: 100%; margin-bottom: 20px;">
												<div style="display: table-row; width: 100%">
													<label class="Infolabel" style="height: 60px; display: table-cell; vertical-align: bottom;">No hay materiales agregados.</label>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h5 class="info-text" style="margin-bottom: 0; font-weight: bold;"> Contactos </h5>
							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="@(Model.Order.Site.Client.ListEntityContact.Count() > 3 ? @"height: 245px; overflow-y: auto;" : string.Empty)">
									@{
										if (Model.Order.Site.Client.ListEntityContact.Any())
										{
											foreach (var entityContact in Model.Order.Site.Client.ListEntityContact)
											{
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;">
													<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">
														<b>@entityContact.Name</b> <small>(@entityContact.Position.Name)</small>
														<br />
														@foreach (var entityChannel in entityContact.ListEntityChannels)
														{
															@entityChannel.Channel
															<small>(@entityChannel.EntityChannelType.Name)</small>
															<br />
														}
													</label>
												</div>
											}
										}
										else
										{
											<div style="display: table; width: 100%;">
												<div style="display: table-row; width: 100%">
													<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">No hay contactos agregados.</label>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h5 class="info-text" style="margin-bottom: 0; font-weight: bold;"> Horarios de Atención </h5>
							<div class="row" style="margin-bottom: 20px;">
								@{
									if (Model.Order.Site.ListSiteSchedule.Any())
									{
										var groups = Model.Order.Site.ListSiteSchedule.GroupBy(g => new { g.StartTime, g.EndTime }).ToList();

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="@(groups.Count() > 3 ? @"height: 245px; overflow-y: auto;" : string.Empty)">

											@foreach (var group in groups)
											{
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;">
													<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">
														<b>(@DateTime.Today.Add((TimeSpan)group.Key.StartTime).ToString(@"hh:mm tt"))</b>
														<span>hasta las</span>
														<b>(@DateTime.Today.Add((TimeSpan)group.Key.EndTime).ToString(@"hh:mm tt"))</b>
														<br />
														<span>@(SiteSchedule.GetWekDays(group))</span> <small> (Dias de la Semana) </small>
													</label>
												</div>
											}
										</div>
									}
									else
									{
										<div style="display: table; width: 100%;">
											<div style="display: table-row; width: 100%">
												<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">No hay horarios agregados.</label>
											</div>
										</div>
									}
								}
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h5 class="info-text" style="margin-bottom: 5px;font-weight: bold;"> Pre-Factibilidad </h5>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									@{
										if (Model.Order.ListOrderShot.Any(a => a.OrderShotType.Id == (int)OrderShot.Type.LineSight))
										{
											foreach (var orderShot in Model.Order.ListOrderShot)
											{
												if (orderShot.OrderShotType.Id == (int)OrderShot.Type.LineSight)
												{
													var url = new Uri(orderShot.ShotPath);
													var caption = url.Segments.LastOrDefault();
													var path = orderShot.ShotPath;
													<div class="file-preview-frame" data-fileindex="0" style="width: 100%;">
														<img src="@path" class="file-preview-image" title="@caption.ToUpper()" alt="@caption.ToUpper()" style="width: 100%; height: 300px;" />
														<div class="file-thumbnail-footer">
															<div class="file-caption-name" style="width: auto">@caption.ToUpper()</div>
															<div class="form-group" style="margin-top: 5px; text-align: left;">
																<label> Comentario </label>
																<textarea style="width: 100%; resize: none;" name="Comment" class="form-control comments" placeholder="Comentario..." rows="3" cols="15" aria-invalid="false" readonly="readonly">@(orderShot.Comment != null ? orderShot.Comment.ToUpper() : string.Empty)</textarea>
															</div>
															<div class="file-thumb-progress hide">
																<div class="progress">
																	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
																		0%
																	</div>
																</div>
															</div>
														</div>
													</div>
												}
											}
										}
										else
										{
											<div style="display: table; width: 100%;">
												<div style="display: table-row; width: 100%">
													<label class="Infolabel" style="height: 50px; display: table-cell; vertical-align: bottom;">En espera de respuesta.</label>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="tab-pane active" id="info">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
					Información no Disponible
				</div>
			</div>
		</div>
	}
}