@using System.Globalization
@using GD.Models.Commons;
@using GD.Models.Commons.Utilities
@using GoldDataWeb.Models

@model HomeViewModel

@{
	if (Model.Order != null)
	{
		var status = Model.GetStatusBarViewModel();

		<div class="tab-pane active" id="info">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label id="orderIdLabel" class="Infolabel" style="font-weight: bold;" data-siteid="@Model.Order.Site.Id" data-orderstatustype="@Model.Order.OrderStatus.Id"
									   data-ordershotcount="@Model.Order.ListOrderShot.Count(c => c.IdOrderShotType == 1).ToString()" data-orderid="@Model.Order.Id.ToString()" data-ordernumber="@Model.Order.OrderNumber.ToUpper()">
									ORDEN Nº @Model.Order.OrderNumber.ToUpper()
								</label>
							</div>
						</div>
					</div>
				</div>

				<div id="contentNew" style="display: none;">
					<div style='display: table; width: 370px;'>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA EFECTIVA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@(!string.IsNullOrWhiteSpace(status.Nuevo.EffectiveDate) ? status.Nuevo.EffectiveDate.ToUpper() : @"NO DISPONIBLE")
							</div>
						</div>
					</div>
				</div>

				<div id="contentPref" style="display: none;">
					<div style='display: table; width: 370px;'>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA ESTIMADA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@status.Nuevo.EstimatedDateNextStep.ToUpper()
							</div>
						</div>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA EFECTIVA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@(!string.IsNullOrWhiteSpace(status.Prefactibility.EffectiveDate) ? status.Prefactibility.EffectiveDate.ToUpper() : @"NO DISPONIBLE")
							</div>
						</div>
					</div>
				</div>

				<div id="contentInsp" style="display: none;">
					<div style='display: table;width: 370px;'>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA ESTIMADA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@status.Prefactibility.EstimatedDateNextStep.ToUpper()
							</div>
						</div>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA EFECTIVA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@(!string.IsNullOrWhiteSpace(status.Inspection.EffectiveDate) ? status.Inspection.EffectiveDate.ToUpper() : @"NO DISPONIBLE")
							</div>
						</div>
					</div>
				</div>

				<div id="contentInst" style="display: none;">
					<div style='display: table;width: 370px;'>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA ESTIMADA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@status.Inspection.EstimatedDateNextStep.ToUpper()
							</div>
						</div>
						<div style='display: table-row;'>
							<div style='display: table-cell;padding: 5px;'>
								<b>FECHA EFECTIVA: </b>
							</div>
							<div style='display: table-cell;padding: 5px;'>
								@(!string.IsNullOrWhiteSpace(status.Instalation.EffectiveDate) ? status.Instalation.EffectiveDate.ToUpper() : @"NO DISPONIBLE")
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div id="timeline">
						<div class="dot" id="one" title="CREACIÓN" data-placement="top" style="background-color: #7b3">
							<img src="~/Content/Images/Icons/playlist_add_black.png" style="position: absolute; top: 8px; left: 10px; z-index: 1; width: 22px;">
							<span></span>
							<div>CREACIÓN</div>
						</div>
						<div class="dot" id="two" title="PRE-FACTIBILIDAD" data-placement="top" style="background-color: @status.Prefactibility.Color;">
							<span id="statusPreFactibility" class="glyphicon @status.Prefactibility.Class" data-idorderflow="@status.Prefactibility.IdOrderFlow" aria-hidden="true" style="display: none;"></span>
							<img src="/Content/Images/Icons/ic_prefactibilidad_black.png" style="position: absolute; top: 10px; left: 12px; z-index: 1; width: 18px;">
							<span></span>
							<div>PRE-FACTIBILIDAD</div>
						</div>
						<div class="dot" id="three" title="INSPECCIÓN" data-placement="top" style="background-color: @status.Inspection.Color;">
							<span id="statusInspection" class="glyphicon @status.Inspection.Class" data-idorderflow="@status.Inspection.IdOrderFlow" aria-hidden="true" style="display: none;"></span>
							<img src="/Content/Images/Icons/ic_inspeccion_black.png" style="position: absolute; top: 10px; left: 12px; z-index: 1; width: 18px;">
							<span></span>
							<div>INSPECCIÓN</div>
						</div>
						<div class="dot" id="four" title="INSTALACIÓN" data-placement="top" style="background-color: @status.Instalation.Color;">
							<span id="statusInstalation" class="glyphicon @status.Instalation.Class" data-idorderflow="@status.Instalation.IdOrderFlow" aria-hidden="true" style="display: none;"></span>
							<img src="/Content/Images/Icons/ic_instalacion_black.png" style="position: absolute; top: 10px; left: 12px; z-index: 1; width: 18px;">
							<span></span>
							<div>INSTALACIÓN</div>
						</div>
						<div class="inside" style="width:@((status.Instalation.IsApproved == @"True") ? @"100%" : ((status.Instalation.IsApproved == @"False") ? @"80%" : (!string.IsNullOrWhiteSpace(status.Inspection.IsApproved) ? @"60%" : (!string.IsNullOrWhiteSpace(status.Prefactibility.IsApproved) ? @"40%" : @"20%"))));"></div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
							<h6 class="info-text" style="margin-bottom: 10px; font-weight: bold; display: inline;"> COORDENADAS DE LOCALIZACIÓN </h6>
							<div style="display: inline; cursor: pointer;" id="clipBoard" title="Copiar coordenadas" data-clipboard-text="@(Model.Order.Site.Latitude + @", " + Model.Order.Site.Longitude)">
								<img src="~/Content/Images/copy-icon.png" style="height: 20px;" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<label class="Infolabel">LATITUD <b>(@(Utility.ConvertToDegressMinutesSeconds(double.Parse(Model.Order.Site.Latitude, CultureInfo.InvariantCulture), false)))</b></label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<label class="Infolabel">LONGITUD <b>(@(Utility.ConvertToDegressMinutesSeconds(double.Parse(Model.Order.Site.Longitude, CultureInfo.InvariantCulture), true)))</b></label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> DETALLES DE LA UBICACIÓN </h6>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label class="Infolabel">@Model.Order.Site.Name</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
						<label class="Infolabel">@Model.Order.Site.Address</label><br>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h6 class="info-text" style="margin-bottom: 5px; font-weight: bold;"> ANCHO DE BANDA </h6>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							@{
								if (!string.IsNullOrWhiteSpace(Model.Order.Site.BandWidth.ToString(CultureInfo.InvariantCulture)))
								{
									<div class="form-group">
										<label class="Infolabel">
											<span>@Model.Order.Site.GetBandWidth()</span>
										</label><br>
									</div>
								}
								else
								{
									<div style="display: table; width: 100%;">
										<div style="display: table-row; width: 100%">
											<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">NO POSEE ANCHO DE BANDA ASIGNADO</label>
										</div>
									</div>
								}
							}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h6 class="info-text" style="margin-bottom: 5px; font-weight: bold;"> TIPOS DE SERVICIO </h6>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							@{
								if (!string.IsNullOrWhiteSpace(Model.Order.Site.BandWidth.ToString(CultureInfo.InvariantCulture)))
								{
									<div class="form-group">
										<label class="Infolabel">
											@(ServiceType.GetConcatServiceTypes(Model.Order.Site.ListServiceType.ToList()))
										</label><br>
									</div>
								}
								else
								{
									<div style="display: table; width: 100%;">
										<div style="display: table-row; width: 100%">
											<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">NO POSEE NINGUN TIPO DE SERVICIO ASIGNADO</label>
										</div>
									</div>
								}
							}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> CONTACTOS </h6>
							<div class="row" style="margin-bottom: 20px;">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="@(Model.Order.Site.Client.ListEntityContact.Count() > 3 ? @"height: 245px; overflow-y: auto;" : string.Empty)">
									@{
										if (Model.Order.Site.Client.ListEntityContact.Any())
										{
											foreach (var entityContact in Model.Order.Site.Client.ListEntityContact)
											{
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;">
													<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">
														<b>@entityContact.Name</b> <small>(@entityContact.Position.Name)</small>
														<br />
														@foreach (var entityChannel in entityContact.ListEntityChannels)
														{
															@entityChannel.Channel
															<small>(@entityChannel.EntityChannelType.Name)</small>
															<br />
														}
													</label>
												</div>
											}
										}
										else
										{
											<div style="display: table; width: 100%;">
												<div style="display: table-row; width: 100%">
													<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">NO HAY CONTACTOS AGREGADOS</label>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> HORARIOS DE ATENCIÓN </h6>
							<div class="row" style="margin-bottom: 20px;">
								@{
									if (Model.Order.Site.ListSiteSchedule.Any())
									{
										var groups = Model.Order.Site.ListSiteSchedule.GroupBy(g => new { g.StartTime, g.EndTime }).ToList();

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="@(groups.Count > 3 ? @"height: 245px; overflow-y: auto;" : string.Empty)">

											@foreach (var group in groups)
											{
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;">
													<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">
														<b>(@DateTime.Today.Add((TimeSpan)group.Key.StartTime).ToString(@"hh:mm tt"))</b>
														<span>hasta las</span>
														<b>(@DateTime.Today.Add((TimeSpan)group.Key.EndTime).ToString(@"hh:mm tt"))</b>
														<br />
														<span>@(SiteSchedule.GetWekDays(group))</span> <small> (Dias de la Semana) </small>
													</label>
												</div>
											}
										</div>
									}
									else
									{
										<div style="display: table; width: 100%;">
											<div style="display: table-row; width: 100%">
												<label class="Infolabel" style="height: 81px; display: table-cell; vertical-align: bottom;">NO HAY HORARIOS AGREGADOS</label>
											</div>
										</div>
									}
								}
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<main class="mainTab">

								<input class="inputTab" id="tab1" type="radio" name="tabs" checked>
								<label for="tab1" class="labelTab">PRE-FACTIBILIDAD</label>

								<input class="inputTab" id="tab2" type="radio" name="tabs">
								<label for="tab2" class="labelTab">INSPECCIÓN</label>

								<input class="inputTab" id="tab3" type="radio" name="tabs">
								<label for="tab3" class="labelTab">INSTALACIÓN</label>

								<section id="content1" class="sectionTab">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											@{
												if (Model.Order.ListOrderShot.Any(a => a.OrderShotType.Id == (int)OrderShot.Type.LineSight))
												{
													for (int i = 0; i < Model.Order.ListOrderShot.Count(); i++)
													{
														var orderShot = Model.Order.ListOrderShot.ElementAt(i);
														if (orderShot.OrderShotType.Id == (int)OrderShot.Type.LineSight)
														{
															var url = new Uri(orderShot.ShotPath);
															var caption = url.Segments.LastOrDefault();
															var path = orderShot.ShotPath;
															<div class="file-preview-frame" data-fileindex="0">
																<img src="@path" class="file-preview-image" title="@caption.ToUpper()" alt="@caption.ToUpper()" style="width: 100%; height: 300px;"/>
																<div class="file-thumbnail-footer">
																	<div class="file-caption-name" style="width: auto">@caption.ToUpper()</div>
																	<div class="row" style="margin-bottom: 10px;">
																		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
																			<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> RADIO BASE </h6>
																			<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
																				@{
																					if (!string.IsNullOrWhiteSpace(Model.Order.Site.ListLineSight.ElementAt(i).RadioBase.Name))
																					{
																						<label class="Infolabel" style="display: table-cell; vertical-align: bottom;"
																						       title="(@(Utility.ConvertToDegressMinutesSeconds(double.Parse(Model.Order.Site.ListLineSight.ElementAt(i).RadioBase.Latitude, CultureInfo.InvariantCulture), false)
																						                 + @", " + Utility.ConvertToDegressMinutesSeconds(double.Parse(Model.Order.Site.ListLineSight.ElementAt(i).RadioBase.Longitude, CultureInfo.InvariantCulture), true)))">
																							@Model.Order.Site.ListLineSight.ElementAt(i).RadioBase.Name.ToUpper()
																						</label>
																					}
																					else
																					{
																						<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
																							<span>RADIO BASE NO DISPONIBLE</span>
																						</label>
																					}
																				}
																			</div>
																		</div>
																		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
																			<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> DISTANCIA </h6>
																			<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
																				<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
																					@(Model.Order.Site.ListLineSight.ElementAt(i).Distance > 0 ? Model.Order.Site.ListLineSight.ElementAt(0).Distance + @" KM" : @"DISTANCIA NO DISPONIBLE")
																				</label>
																			</div>
																		</div>
																		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
																			<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> TIPO DE ENLACE </h6>
																			<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
																				<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
																					@(!string.IsNullOrWhiteSpace(Model.Order.Site.LinkType) ? Model.Order.Site.LinkType.ToUpper() : @"TIPO DE ENLACE NO DISPONIBLE")
																				</label>
																			</div>
																		</div>
																		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
																			<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> OBSERVACIONES </h6>
																			<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
																				<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
																					@(!string.IsNullOrWhiteSpace(orderShot.Comment) ? orderShot.Comment.ToUpper() : @"NO POSEE OBSERVACIONES")
																				</label>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														}
													}
												}
												else
												{
													<div style="display: table; width: 100%;">
														<div style="display: table-row; width: 100%">
															<label class="Infolabel" style="height: 50px; display: table-cell; vertical-align: bottom;">EN ESPERA DE RESPUESTA</label>
														</div>
													</div>
												}
											}
										</div>
									</div>
								</section>

								<section id="content2" class="sectionTab">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;margin-bottom: 10px;">
											<img src="~/Content/Images/Icons/building.png" style="height: 200px; width: 200px;" />
										</div>
										<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
											<div class="form-group">
												<h6 class="info-text" style="text-align: left; margin-bottom: 0; font-weight: bold;"> ALTURA DE PISO </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(Model.Order.Site.FloorHight.IsGreaterThanZero() ? Model.Order.Site.FloorHight.ToString(CultureInfo.InvariantCulture) + @" METROS" : @"NO DISPONIBLE")
													</label>
												</div>
											</div>
											<div class="form-group">
												<h6 class="info-text" style="text-align: left; margin-bottom: 0; font-weight: bold;"> ALTURA DEL EDIFICIO </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(Model.Order.Site.BuildingHight.IsGreaterThanZero() ? Model.Order.Site.BuildingHight.ToString(CultureInfo.InvariantCulture) + @" METROS" : @"NO DISPONIBLE")
													</label>
												</div>
											</div>
											<div class="form-group">
												<h6 class="info-text" style="text-align: left; margin-bottom: 0; font-weight: bold;"> CANTIDAD DE PISOS </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(Model.Order.Site.BuildingFloors.IsGreaterThanZero() ? Model.Order.Site.BuildingFloors.ToString(CultureInfo.InvariantCulture) : @"NO DISPONIBLE")
													</label>
												</div>
											</div>
										</div>
									</div>
									<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> INFORMACIÓN SOBRE LA AZOTEA </h6>
									<hr>
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> REQUERIMIENTOS ESPECIALES </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(!string.IsNullOrWhiteSpace(Model.Order.SpecialRequirements) ? Model.Order.SpecialRequirements.ToUpper() : @"NO POSEE REQUERIMIENTOS ESPECIALES")
													</label>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> TIPOS DE ACCESSO </h6>
												@{
													if (Model.Order.Site.ListSiteAccessType.Any())
													{
														<div class="form-group">
															<label class="Infolabel">
																<span>@(AccessType.GetConcatAccessTypes(Model.Order.Site.ListSiteAccessType.ToList()).ToUpper())</span>
															</label><br>
														</div>
													}
													else
													{
														<div style="display: table; width: 100%; margin-bottom: 20px;">
															<div style="display: table-row; width: 100%">
																<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">TIPOS DE ACCESO NO DISPONIBLE</label>
															</div>
														</div>
													}
												}
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> COSTOS ADICIONALES </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(!string.IsNullOrWhiteSpace(Model.Order.AditionalCost) ? Model.Order.AditionalCost.ToUpper() : @"NO POSEE COSTOS ADICIONALES")
													</label>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group">
												<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> DIAS ESTIMADOS DE INSTALACIÓN </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0; text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(!string.IsNullOrWhiteSpace(Model.Order.InstallationDays) ? Model.Order.InstallationDays : @"NO DISPONIBLE")
													</label>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group">
												<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> OBSERVACIONES </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(!string.IsNullOrWhiteSpace(Model.Order.Comments) ? Model.Order.Comments.ToUpper() : @"NO POSEE OBSERVACIONES")
													</label>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section id="content3" class="sectionTab">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group">
												<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> OBSERVACIONES </h6>
												<div class="form-group" style="display: table; width: 100%; margin-bottom: 0;text-align: left;">
													<label class="Infolabel" style="display: table-cell; vertical-align: bottom;">
														@(!string.IsNullOrWhiteSpace(Model.Order.SettingUp) ? Model.Order.SettingUp.ToUpper() : @"NO POSEE OBSERVACIONES")
													</label>
												</div>
											</div>
										</div>
									</div>
									<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> LISTA DE MATERIALES UTILIZADOS EN LA INSTALACIÓN </h6>
									<hr>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="list-group">
												<a class="list-group-item active" style="text-align: center; background-color: royalblue;">
													MATERIALES UTILIZADOS
												</a>

												@{
													if (Model.Order.ListMaterials.Any())
													{
														for (int i = 0; i < Model.Order.ListMaterials.Count(); i++)
														{
															var item = Model.Order.ListMaterials.ElementAt(i);
															<a href='@i' class='list-group-item' data-ordermaterial="@item.ToJson()" style='padding: 0; height: 42px;' data-toggle='collapse' aria-expanded='false'>
																<span class="pull-left" style="height: 100%; padding: 10px;">@item.Material.Name.ToUpper() <small style='color: #999999;'>@("(" + item.Quantity + @" " + item.Material.UnitMeasure.Name.ToUpper() + @")")</small></span>
																<span style="display: none;" data-idremove="@i" class="materialInstalation-buttom-remove pull-right">
																	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
																</span>
															</a>
														}
													}
													else
													{
														<a class="list-group-item" id="materialInspectionInfoListEmpty" style="text-align: center; height: 53px;" data-toggle="collapse" aria-expanded="false">
															<span class="text-center" style="height: 100%;">NO HAY MATERIALES AGREGADOS</span>
														</a>
													}
												}
											</div>
										</div>
									</div>
									<h6 class="info-text" style="margin-bottom: 0; font-weight: bold;"> GALERÍA DE IMÁGENES </h6>
									<hr>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											@{
												var listOrderShotsInst = Model.Order.ListOrderShot.Where(a => a.OrderShotType.Id == (int)OrderShot.Type.Instalation).ToList();
												if (listOrderShotsInst.Any())
												{
													<div id="carouselInst" class="carousel slide" data-ride="carousel" style="width: 80%;margin-left: auto;margin-right: auto;">
														<!-- Indicators -->
														<ol class="carousel-indicators" style="bottom: 10px;">

															@for (int i = 0; i < listOrderShotsInst.Count; i++)
															{
																<li data-target="#carouselInst" data-slide-to="@i" class="@(i == 0 ? @"active" : string.Empty)"></li>
															}

														</ol>

														<div class="carousel-inner" role="listbox">
															@for (int i = 0; i < listOrderShotsInst.Count; i++)
															{
																var orderShot = listOrderShotsInst.ElementAt(i);

																var url = new Uri(orderShot.ShotPath);
																var caption = url.Segments.LastOrDefault();
																var path = orderShot.ShotPath;

																<div class="item @(i == 0 ? @"active" : string.Empty)">
																	<img src="@path" alt="@caption">
																</div>
															}
														</div>

														<!-- Left and right controls -->
														<a class="left carousel-control" href="#carouselInst" role="button" data-slide="prev">
															<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
															<span class="sr-only">ANTERIOR</span>
														</a>
														<a class="right carousel-control" href="#carouselInst" role="button" data-slide="next">
															<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
															<span class="sr-only">SIGUIENTE</span>
														</a>
													</div>
												}
												else
												{
													<div style="display: table; width: 100%;">
														<div style="display: table-row; width: 100%">
															<label class="Infolabel" style="height: 50px; display: table-cell; vertical-align: bottom;">IMÁGENES NO DISPONIBLES</label>
														</div>
													</div>
												}
											}
										</div>
									</div>
								</section>
							</main>
						</div>
					</div>

				</div>
			</div>
		</div>
	}
	else
	{
		<div class="tab-pane active" id="info">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
					INFORMACIÓN NO DISPONIBLE
				</div>
			</div>
		</div>
	}
}