<div class="tab-pane active" id="client">
	<div class="row">
		<div class="col-sm-6 existingClient" style="display: none; margin-bottom: 20px;">
			<div class="form-group">
				<label style="font-weight: bold;"> CLIENTES <small>(requerido)</small></label>
				@Html.DropDownList(@"clients", new List<SelectListItem>(), @"Seleccione un cliente", new { id = @"clients", @class = @"form-control valid select2", style = @"width: 100%;" })
			</div>
			<hr />
		</div>
		<div class="col-sm-12 edit">
			<h4 class="info-text"> Informaci&oacute;n del Cliente </h4>
		</div>
		<div class="col-sm-6 edit">
			<div class="form-group">
				<label> PA&Iacute;S <small>(requerido)</small></label>
				@Html.DropDownList(@"country", new List<SelectListItem>(), "- País -", new { id = @"country", @class = @"form-control valid select2", style = @"width: 100%;" })
			</div>
			<div class="form-group">
				<label> ESTADO <small>(requerido)</small></label>
				@Html.DropDownList(@"state", new List<SelectListItem>(), "- Estado -", new { id = @"state", @class = @"form-control valid select2", style = @"width: 100%;" })
			</div>
			<div class="form-group">
				<label> CIUDAD <small>(requerido)</small></label>
				@Html.DropDownList(@"city", new List<SelectListItem>(), "- Ciudad -", new { id = @"city", @class = @"form-control valid select2", style = @"width: 100%;" })
			</div>
			<div class="form-group">
				<label> ZONA <small>(requerido)</small></label>
				@Html.DropDownList(@"zone", new List<SelectListItem>(), "- Zona -", new { id = @"zone", @class = @"form-control valid select2", style = @"width: 100%;" })
			</div>
			<div class="form-group">
				<label> TIPO DE CLIENTE <small>(requerido)</small></label>
				@Html.DropDownList(@"clienttype", new List<SelectListItem>(), "- Tipo -", new { id = @"clienttype", @class = @"form-control valid select2", style = @"width: 100%;" })
			</div>
		</div>
		<div class="col-sm-6 edit">
			<div class="form-group">
				<label> NOMBRE COMERCIAL <small>(requerido)</small></label>
				<input id="fullname" name="fullname" type="text" class="form-control" placeholder="Nombre Completo..." style="width: 100% !important; height: 38px;">
			</div>
			<div class="form-group">
				<label> NOMBRE JUR&Iacute;DICO <small>(requerido)</small></label>
				<input id="businessname" name="businessname" type="text" class="form-control" placeholder="Negocio..." style="height: 38px;">
			</div>
			<div class="form-group">
				<label> TAX ID (RUC/RIF) <small>(requerido)</small></label>
				<input id="ruc" name="ruc" type="text" class="form-control" placeholder="Ruc/Rif..." style="height: 38px;">
			</div>
			<div class="form-group">
				<label> DIRECCI&Oacute;N DETALLADA <small>(requerido)</small></label>
				<textarea id="detailedadress" style="width: 100%; resize: none;" name="detailedadress" class="form-control" placeholder="Dirección..." rows="5" cols="15" aria-invalid="false"></textarea>
			</div>
		</div>
		<div id="refreshExistingClient" style="display: none; width: 100%;">
			<div style="display: table-row;">
				<div style="width: 100%; height: 300px; display: table-cell; vertical-align: middle; text-align: center;">
					<img src="~/Content/Images/loading.gif" />
					<span style="color: darkgray; display: block;"> Cargando informaci&oacute;n</span>
				</div>
			</div>
		</div>
		<div class="col-sm-12 readOnly" style="display: none;">
			<h4 class="info-text"> Informaci&oacute;n del Cliente </h4>
			<div class="form-group">
				<label style="font-weight: bold;"> CLIENTE <small id="labelClientType"></small></label>
				<label id="labelFullName" class="Infolabel" style="word-break: break-word;"></label>
			</div>
		</div>
		<div class="col-sm-6 readOnly" style="display: none;">
			<div class="form-group">
				<label style="font-weight: bold;"> NOMBRE JUR&Iacute;DICO </label>
				<label id="labelBusinessName" class="Infolabel" style="word-break: break-word;"></label>
			</div>
			<div class="form-group">
				<label style="font-weight: bold;"> UBICACI&Oacute;N GENERAL </label>
				<label id="labelUbicacion" class="Infolabel" style="word-break: break-word;"></label>
			</div>
		</div>
		<div class="col-sm-6 readOnly" style="display: none;">
			<div class="form-group">
				<label style="font-weight: bold;"> TAX ID (RUC/RIF) </label>
				<label id="labelRuc" class="Infolabel" style="word-break: break-word;"></label>
			</div>
			<div class="form-group">
				<label style="font-weight: bold;"> DIRECCI&Oacute;N DETALLADA </label>
				<label id="labelDetailedAdress" class="Infolabel" style="word-break: break-word;"></label>
			</div>
		</div>
	</div>
</div>
