@using GD.Models.Commons
@using GD.Models.Commons.Utilities
@using GoldDataWeb.Models

@model HomeViewModel

@{
	ViewBag.Title = "Inicio";
}

@section css{
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap-formhelpers.css")
	@Styles.Render("~/Content/Home.css")
	@Styles.Render("~/Content/gsdk-base.css")
	@Styles.Render("~/Content/select2.min.css")
	@Styles.Render("~/Content/fileinput.css")
}

@{
	var user = (UserIdentity)User;
}

<div id="homeContainer">
	<header style="border-bottom: 2px solid #FDD835; box-shadow: 0 5px 15px #616161; height: 100vh;">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
				<li data-target="#myCarousel" data-slide-to="5"></li>
				<li data-target="#myCarousel" data-slide-to="6"></li>
				<li data-target="#myCarousel" data-slide-to="7"></li>
				<li data-target="#myCarousel" data-slide-to="8"></li>
				<li data-target="#myCarousel" data-slide-to="9"></li>
				<li data-target="#myCarousel" data-slide-to="10"></li>
				<li data-target="#myCarousel" data-slide-to="11"></li>
				<li data-target="#myCarousel" data-slide-to="12"></li>
				<li data-target="#myCarousel" data-slide-to="13"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="~/Content/Images/banner/Venezuela/CaracasAvBolivar.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Venezuela</h3>
						<p>Caracas, Avenida Bolivar.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Venezuela/CaracasParqueCentral.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Venezuela</h3>
						<p>Caracas, Parque Central.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Venezuela/PuenteSobreLagoMaracaibo.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Venezuela</h3>
						<p>Puente sobre el lago de Maracaibo.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Venezuela/Maracabo.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Venezuela</h3>
						<p>Ciudad de Maracaibo.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Miami/MiamiFlorida01.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Estados Unidos</h3>
						<p>Florida, Miami.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Miami/MiamiFlorida02.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Estados Unidos</h3>
						<p>Florida, Miami.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Miami/MiamiFlorida03.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Estados Unidos</h3>
						<p>Florida, Miami.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Panama/PanamaCity01.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Panama</h3>
						<p>Ciudad de Panama.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Panama/PanamaCity02.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Panama</h3>
						<p>Ciudad de Panama.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Panama/PanamaCityTrumpTower.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Panama</h3>
						<p>Trump Tower.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Panama/PuenteBicentenarioCanaldePanama.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Panama</h3>
						<p>Puente Bicentenario, Canal de Panama.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Panama/PuentedelasAmericasDesdeCerroAncon.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Panama</h3>
						<p>Puente de las Americas Desde Cerro Ancon.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/Panama/VolcanBaru.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>Panama</h3>
						<p>Volcan Baru.</p>
					</div>
				</div>

				<div class="item">
					<img src="~/Content/Images/banner/General/TelecomSystems.jpg" width="460" height="200" style="height: 99.8vh;" />
					<div class="carousel-caption">
						<h3>General</h3>
						<p>Telecom System</p>
					</div>
				</div>

			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</header>

	<a data-start="display: block" data-100-start="display: none" class="btn-scroll-down scroll" style="display: block; z-index: 1032; cursor: pointer;"></a>

	@*<div class="user">
			<img class="img-circle" src="http://demos.creative-tim.com/images/rotating_card_profile2.png">
			<img class="img-circle" src="~/Content/Images/LogoRtSurvey.png" />
		</div>*@


	<div id="page" class="container" style="height: 100vh; width: 100%;">
		<div class="row" style="width: 100%; margin-left: auto; margin-right: auto; margin-top: 100px;">
			<div class="col-lg-4">
				@*<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>*@
				<div class="well well-sm" style="height: 125px;">
					<div class="row">
						<div class="col-sm-6 col-md-5">
							<a href="#" class="thumbnail">
								<img src="~/Content/Images/Logotipo_GD150x150.png" style="height: 95px;" />
							</a>
						</div>
						<div class="col-sm-6 col-md-7">
							<h4 style="margin-top: 0;">
								@Model.User.Name
							</h4>
							<small>
								<cite title="San Francisco, USA">
									San Francisco, USA <i class="glyphicon glyphicon-map-marker">
									</i>
								</cite>
							</small>
							<br />
							<i class="glyphicon glyphicon-calendar"></i> 28 Ene 2016
							<br />
							<i class="glyphicon glyphicon-envelope"></i> email@example.com
						</div>
					</div>
				</div>

				<div id="panelordenes" class="list-group" style="min-height: 635px; max-height: 635px; border-radius: 4px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);">
					<a class="list-group-item active" style="background-color: royalblue;">
						MIS ORDENES
						<span id="refreshOrders" class="glyphicon glyphicon-refresh pull-right refreshOrders" aria-hidden="true" style="font-size: large; cursor: pointer;"></span>
					</a>
					@{
						Html.RenderPartial("_OrderPanel", Model.Orders);
					}
				</div>
			</div>
			<div class="col-lg-8">
				@if (user.IsRole(Rol.Type.Ventas) || user.IsRole(Rol.Type.Manager))
				{
					<div style="width: 100%;">
						<img rel="tooltip" id="newOrder" src="~/Content/Images/Icons/playlist_add_black.png" style="cursor: pointer;" data-original-title="Generar una nueva orden" />
						<img rel="tooltip" id="existingOrder" src="~/Content/Images/Icons/ic_edit_location_black_24dp_2x.png" style="width: 40px;cursor: pointer; margin-left: 5px;" data-original-title="Generar una orden a un cliente existente." />
					</div>
					<hr style="margin-top: 0;" />
				}
				<div id="panelInfo" style="@(user.IsRole(Rol.Type.Ventas) ? @"display:none;" : @"display:block;")">
					<div class="wizard-container" style="padding-top: 0;">
						<div class="card wizard-card ct-wizard-green" id="wizardInfo">
							<form action="" method="" id="wizardInfoForm">
								<div class="wizard-header">
									<h3 style="margin-top: 0;">
										<b>Orden</b> de servicio <br>
										<small>Este panel nos permitirá visualizar la informacíon completa de la orden.</small>
									</h3>
								</div>
								<ul class="nav nav-pills">
									<li class="active" style="width: 50%;"><a href="#info" data-toggle="tab" aria-expanded="true">Información</a></li>
									@if (Model.Order != null)
									{
										if (user.IsRole(Rol.Type.Noc))
										{
											<li style="width: 50%;"><a href="#prefactibilidad" data-toggle="tab" aria-expanded="false">Pre-Factibilidad</a></li>
										}

										if (user.IsRole(Rol.Type.Field))
										{
											<li><a href="#inspection" data-toggle="tab" aria-expanded="false">Inspección</a></li>
											<li><a href="#instalation" data-toggle="tab" aria-expanded="false">Instalación</a></li>
										}
									}
								</ul>
								<div id="contentPanelInfo" class="tab-content" style="padding: 20px 20px; min-height: @(user.IsRole(Rol.Type.Ventas) || user.IsRole(Rol.Type.Manager) ? @"589px;" : @"622px;")">
									<div id="refreshInfoOrderPanel" style="display: table; width: 100%;">
										<div style="display: table-row;">
											<div style="width: 100%; height: 549px; display: table-cell; vertical-align: middle; text-align: center;">
												<img src="~/Content/Images/loading.gif" />
												<span style="color: darkgray; display: block;"> Cargando información de la orden</span>
											</div>
										</div>
									</div>
									@{
										if (!user.IsRole(Rol.Type.Ventas))
										{
											Html.RenderPartial(@"_WizardTabInfo", Model);
										}

										if (Model.Order != null)
										{
											if (user.IsRole(Rol.Type.Noc))
											{
												Html.RenderPartial(@"_WizardTabPrefactibilidad");
											}

											if (user.IsRole(Rol.Type.Field))
											{
												Html.RenderPartial(@"_WizardTabInspection");

												Html.RenderPartial(@"_WizardTabInstalation");
											}
										}
									}
								</div>
								<div class="wizard-footer">
									<div class="pull-right">
										<input type="button" class="btn btn-next btn-fill btn-success btn-wd btn-sm" name="next" id="next" value="Siguiente" style="background-color: goldenrod; border-color: #B88C1D;">
										<input type="button" class="btn btn-finish btn-fill btn-success btn-wd btn-sm" name="finish" value="" style="display: none; background-color: royalblue; border-color: royalblue;">
									</div>
									<div class="pull-left">
										<input type="button" class="btn btn-previous btn-fill btn-default btn-wd btn-sm" name="previous" value="Anterior">
									</div>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</div>
				</div>

				@if (user.IsRole(Rol.Type.Ventas) || user.IsRole(Rol.Type.Manager))
				{
					<div id="panelClient" style="@(user.IsRole(Rol.Type.Ventas) ? @"display:block;" : @"display:none;")">
						<div class="wizard-container" style="padding-top: 0;">
							<div class="card wizard-card ct-wizard-green" id="wizardClient">
								<form action="" method="" id="wizardClientForm">
									<div class="wizard-header">
										<h3 style="margin-top: 0;">
											<b>Generar</b> orden de servicio <br>
											<small>Esta información nos permitirá generar una orden automaticamente.</small>
										</h3>
									</div>
									<ul class="nav nav-pills">
										<li class="active" id="tabClient" style="width: 33.3333%;"><a href="#client" data-toggle="tab" aria-expanded="true">Cliente</a></li>
										<li class="" id="tabContact" style="width: 33.3333%;"><a href="#contact" data-toggle="tab" aria-expanded="false">Contactos</a></li>
										<li class="" id="tabLocalization" style="width: 33.3333%;"><a href="#localization" data-toggle="tab" aria-expanded="false">Localización</a></li>
									</ul>
									<div class="tab-content" style="padding: 20px 20px; min-height: 553px;">
										@{
											Html.RenderPartial(@"_WizardTabClient");

											Html.RenderPartial(@"_WizardTabContact");

											Html.RenderPartial(@"_WizardTabLocalization");
										}
										<div class="row" id="clientNotFound" style="display: none;">
											<div class="col-sm-12" style="text-align: center;">
												No se encontraron clientes registrados
											</div>
										</div>
									</div>
									<div class="wizard-footer">
										<div class="pull-right">
											<input type="button" class="btn btn-next btn-fill btn-success btn-wd btn-sm" name="next" id="next" value="Siguiente" style="background-color: goldenrod; border-color: #B88C1D;">
											<input type="button" class="btn btn-finish btn-fill btn-success btn-wd btn-sm" name="finish" id="finish" value="Crear orden" style="display: none; background-color: royalblue; border-color: royalblue;">
										</div>
										<div class="pull-left">
											<input type="button" class="btn btn-previous btn-fill btn-default btn-wd btn-sm" name="previous" value="Anterior">
										</div>
										<div class="clearfix"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				}
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="footer">
					<div class="container" style="float: right; margin-right: 10px;font-family: BankGothic Bold;">
						RtSurvey &bull; &copy; Copyright 2016 &bull; <a href="http://www.gold-data.net/" style="text-decoration: none;">Gold Data C.A.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
	@Scripts.Render("http://www.google.com/jsapi")
	@Scripts.Render("http://maps.googleapis.com/maps/api/js")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/additional-methods.js")
	@Scripts.Render("~/Scripts/FullScreenControl.js")
	@Scripts.Render("~/Scripts/jquery.bootstrap.wizard.js")
	@Scripts.Render("~/Scripts/bootstrap-formhelpers.js")
	@Scripts.Render("~/Scripts/select2.full.js")
	@Scripts.Render("~/Scripts/wizard.js")
	@Scripts.Render("~/Scripts/jquery.nicescroll.js")
	@Scripts.Render("~/Scripts/canvas-to-blob.js")
	@Scripts.Render("~/Scripts/fileinput.js")
	@Scripts.Render("~/Scripts/bootstrap-confirmation.js")
	@Scripts.Render("~/Scripts/fileinput_locale_es.js")

	@Scripts.Render("~/Scripts/RtSurvey/Home/baseHome.js")
	@Scripts.Render("~/Scripts/RtSurvey/Client/baseClient.js")
	@Scripts.Render("~/Scripts/RtSurvey/Contact/baseContact.js")
	@Scripts.Render("~/Scripts/RtSurvey/Site/baseSite.js")
	@Scripts.Render("~/Scripts/RtSurvey/PreFactibility/basePreFactibility.js")
	@Scripts.Render("~/Scripts/RtSurvey/Inspection/baseInspection.js")

	@Scripts.Render("~/Scripts/RtSurvey/base.js")
	@Scripts.Render("~/Scripts/RtSurvey/Home/home.js")
	@Scripts.Render("~/Scripts/RtSurvey/Client/client.js")
	@Scripts.Render("~/Scripts/RtSurvey/Contact/contact.js")
	@Scripts.Render("~/Scripts/RtSurvey/Site/site.js")
	@Scripts.Render("~/Scripts/RtSurvey/PreFactibility/preFactibility.js")
	@Scripts.Render("~/Scripts/RtSurvey/Inspection/inspection.js")
}
