<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Rt Survey</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/fontface-granthotel.css")
	@Styles.Render("~/Content/font-awesome.css")
	@Styles.Render("~/Content/Login.css")
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap-switch.css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("css", required: false)
</head>
<body style="background-color: @ViewBag.Color;">
	<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation" style="height: 75px;position: fixed;">
		<div class="container" style="height: 75px;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin: 0;">
							<img src="~/Content/Images/flags/16/Venezuela.png" />
							Español (VE)
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><img src="~/Content/Images/flags/16/United States of America.png"> English (US)</a></li>

							<li class="divider"></li>

							<li><a href="#"><img src="~/Content/Images/flags/16/Germany.png"> Deutsch <span class="label label-default">soon</span></a></li>
							<li><a href="#"><img src="~/Content/Images/flags/16/United Kingdom(Great Britain).png"> English (UK) <span class="label label-default">soon</span></a></li>
							<li><a href="#"><img src="~/Content/Images/flags/16/France.png"> Français <span class="label label-default">soon</span></a></li>
							<li><a href="#"><img src="~/Content/Images/flags/16/Italy.png"> Italiano <span class="label label-default">soon</span></a></li>
							<li><a href="#"><img src="~/Content/Images/flags/16/Portugal.png"> Português <span class="label label-default">soon</span></a></li>
							<li><a href="#"><img src="~/Content/Images/flags/16/Japan.png"> 日本語 <span class="label label-default">soon</span></a></li>
						</ul>
					</li>

				</ul>
				@{
					if (User.Identity.IsAuthenticated)
					{
						Html.RenderPartial(@"_ToolBar");
					}
				}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>

	<div id="bodyContainer" class="container body-content">
		@RenderBody()
	</div>
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: 1px solid #e5e5e5;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">Información</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" style="color: #333;background-color: #fff;border: 1px solid #ccc;">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/bootstrap-switch.js")
	@Scripts.Render("~/Scripts/animatescroll.min.js")
	@RenderSection("scripts", required: false)
</body>
</html>
