<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RT Survey</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/fontface-granthotel.css")
	@Styles.Render("~/Content/font-awesome.css")
	@Styles.Render("~/Content/Login.css")
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap-switch.css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("css", required: false)
</head>
<body style="background-color: @ViewBag.Color;">
	<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation" style="min-height: 75px;position: fixed;">
		<div class="container">
			@* Brand and toggle get grouped for better mobile display*@ 
			<div class="navbar-header" >
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="box-shadow: none;">
				<ul class="nav navbar-nav" style="display: none;">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin: 0;">
							<div id="countrySelected" style="display: inline-block;">
								<img src="~/Content/Images/flags/16/Venezuela.png" data-country="VE" />
								Venezuela (ES)
							</div>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a class="optionCountry" style="cursor: pointer;" ><img src="~/Content/Images/flags/16/Venezuela.png" data-country="VE" > Español (VE)</a></li>
							<li><a class="optionCountry" style="cursor: pointer;" ><img src="~/Content/Images/flags/16/Panama.png" data-country="PA"> Panama ()</a></li>

							<li class="divider"></li>
							<li><a style="cursor: pointer;"><img src="~/Content/Images/flags/16/United States of America.png"> E (US) <span class="label label-default">soon</span></a></li>
							<li><a style="cursor: pointer;"><img src="~/Content/Images/flags/16/Germany.png"> Alemania <span class="label label-default">soon</span></a></li>
							<li><a style="cursor: pointer;"><img src="~/Content/Images/flags/16/Portugal.png"> Portugal <span class="label label-default">soon</span></a></li>
							<li><a style="cursor: pointer;"><img src="~/Content/Images/flags/16/Japan.png"> Japon <span class="label label-default">soon</span></a></li>
						</ul>
					</li>

				</ul>
				@{
					if (User.Identity.IsAuthenticated)
					{
						Html.RenderPartial(@"_ToolBar");
					}
				}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>

	<div id="bodyContainer" class="container body-content">
		@RenderBody()
	</div>
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="border-bottom: 1px solid #e5e5e5;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">Información</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" style="color: #333;background-color: #fff;border: 1px solid #ccc;">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/bootstrap-switch.js")
	@Scripts.Render("~/Scripts/animatescroll.min.js")

	@Scripts.Render("http://www.google.com/jsapi")
	@Scripts.Render("http://maps.googleapis.com/maps/api/js")
	@Scripts.Render("http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js")

	@Scripts.Render("~/Scripts/FullScreenControl.js")
	@Scripts.Render("~/Scripts/jquery.bootstrap.wizard.js")
	@Scripts.Render("~/Scripts/bootstrap-formhelpers.js")
	@Scripts.Render("~/Scripts/select2.full.js")
	@Scripts.Render("~/Scripts/jquery.nicescroll.js")
	@Scripts.Render("~/Scripts/canvas-to-blob.js")
	@Scripts.Render("~/Scripts/fileinput.js")
	@Scripts.Render("~/Scripts/bootstrap-confirmation.js")
	@Scripts.Render("~/Scripts/fileinput_locale_es.js")

	@Scripts.Render("~/Scripts/RtSurvey/base.js")

	@RenderSection("scripts", required: false)
</body>
</html>
