@using GD.Models.Commons
@model Auth

@{
	ViewBag.Title = @"Log in";
}

<div class="cover black" data-color="black"></div>
<div class="fullscreen-bg">
	<video loop muted autoplay class="fullscreen-bg__video">
		<source src="http://rtsurvey.golddata.net/Videos/360_Drone_25seg_converted.mp4" type="video/mp4" />
		<source src="http://rtsurvey.golddata.net/Videos/360_Drone_25seg.webm" type="video/webm" />
		<source src="http://rtsurvey.golddata.net/Videos/RTSurvey01.m4v" type="video/quicktime" />
		Your browser does not support HTML5 video.
	</video>
</div>

<div class="main">
	<div class="container">
		<h1 class="logo cursive" style="font-family: BankGothic Bold; margin-top: 20px;">
			RT Survey
		</h1>
		<img src="~/Content/Images/logo_white.png" style="display: table; margin-left: auto; margin-right: auto; width: 15%;" />
		<div class="content">
			<h4 class="motto" style="min-height: 50px; text-transform: uppercase; margin-top: 30px">Una Solución &infin; Una Empresa</h4>
			<h4 class="motto" style="min-height: 20px; text-transform: uppercase;margin-top: 10px;">Ventas &infin; Operaciones</h4>
			<div class="subscribe">
				<h5 class="info-text" style="margin: 30px">
					Inicio de Sesión
				</h5>
				<div class="row">
					<div class="col-md-12">
						@using (Html.BeginForm(@"Login", @"Login", FormMethod.Post, new { @class = @"form-inline-block", role = @"form", style = @"display: table; margin-left: auto; margin-right: auto;" }))
						{
							@Html.AntiForgeryToken()
							<div class="form-group" style="margin-bottom: 0;">
								@Html.Label(@"User Name", new { @class = @"sr-only" })
								@Html.TextBoxFor(a => a.UserName, new { @class = @"form-control transparent", placeholder = @"Nombre de Usuario..." })
								@Html.ValidationMessageFor(a => a.UserName)
							</div>
							<br>
							<div class="form-group" style="margin-bottom: 0;">
								@Html.Label(@"Password", new { @class = @"sr-only" })
								@Html.PasswordFor(a => a.Password, new { @class = @"form-control transparent", placeholder = @"Contraseña..." })
								@Html.ValidationMessageFor(a => a.Password)
							</div>
							<br>
							<div class="form-group">
								<div style="display: table; width: 100%; opacity: 0.6; margin-bottom: 10px;">
									<div style="display: table-row;">
										<div style="display: table-cell; vertical-align: middle;">
											@Html.Label(@"Recordarme", new { @class = @"pull-left", style = @"color: white; font-weight: normal;" })
										</div>
										<div style="display: table-cell; vertical-align: top; text-align: right;">
											@Html.CheckBox(@"Rememberme", new { id = @"rememberme", data_on_text = @"SI", data_off_text = @"NO" })
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-success btn-fill" style="width: 100%; background-color: GOLDENROD; border-color: GOLDENROD;">Inicio de Sesión Ahora</button>
							</div>
						}
					</div>
				</div>
			</div>
			<div class="footer" style="position: relative; bottom: 0px; margin-top: 0px;">
				<div class="container" style="float: right; font-family: BankGothic Bold;">
					RtSurvey &bull; &copy; Copyright 2016 &bull; <a href="http://www.gold-data.net/" style="text-decoration: none;">Gold Data C.A.</a>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/RtSurvey/Login/baseLogin.js")
}